<h1>Listing Photos</h1>

<table>
<thread>	
 <tr>
	<th>Title</th>
	<th>Url</th>
	<th></th>
	<th></th>
	<th></th>
 </tr>
</thread>
	<% @photos.each do |photo|%>
		<tr>
			<td><%= photo.title %></td>
			<td><%= photo.url %></td>
			<td><%= link_to 'Show', photo_url(photo) %></td>
			<td><%= link_to 'Edit', edit_photo_url(photo) %></td>
			<td><%= link_to 'Destroy', photo_url(photo), :method => 'delete', :data => {:confirm => 'Are you sure?'} %></td>
		</tr>
	<% end%>

</table>
<br />

<%= link_to 'New Photo', new_photo_url %>